@mixin transition {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

@mixin corners ($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius; 
    -khtml-border-radius: $radius; 
    }

body {
    background: pink;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}

.wrapper {
    width: 80%;
    margin: 50px auto;
    color: white;
    text-align: center;
}

h1, h2, h3 {
    font-family: 'Roboto' sans-serif;
    font-weight: bolder;
    font-size: 4vw;
    text-transform: uppercase;
}

p {
    font-size: 5em;
}

button {
    border-radius: 5px;
    background: pink;
    color: white;
    border: solid 1px white;
    text-decoration: none;
    cursor: pointer;
    font-size: 3vw;
    padding: 3% 3%;
    width: 24%;
    margin: 0 10px;
    outline: none;
}

button:hover {
    transition: 0.5s ease-in-out;
    background: white;
	border: solid 1px white;
	color: pink;
}